@import url('https://fonts.googleapis.com/css?family=Caveat|Quicksand');
body{
    background-color:#f4f4f4;
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
div{
    outline:1px solid grey;
}
.menubox{
    background-color: white;
    height:50px;
    width:330px;
    float:left;
    margin-top: 30px;
}
.hiddenmenu img{
    width:35px;
    margin-top:50px
}
.header{
    background-image:url(IMG_0487.png);
    color:#FFFFFF;
    height:200px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    background-color:white;
    max-width:1080px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo{
    float:left;
}
.logo img{
    float:left;
    max-width:180px;
    margin-left:100px;
}
.link{
    margin-top: 40px;
    font-size: 1rem;
    margin-left: 40px;
    float: left;
    text-align: center;
}
.link a{
    color:#45676F;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px; 
}
.link a:hover{
    color:#94C0C6;
}
.booknowbox{
    outline:4px solid #8D8D8D;
    height:30px;
    width:100px;
    float:right;
    margin-top: 10px;
    margin-right: 15px;
}
.seemenu a {
    color: #497183;
    text-decoration: none;
}
.seemenu a:hover{
    color: #94C0C6;
}
.bookatable a {
    color: #497183;
    text-decoration: none;
}
.bookatable a:hover{
    color: #94C0C6;
}
.contactus a {
    color: #497183;
    text-decoration: none;
}
.contactus a:hover{
    color: #94C0C6;
}
.about{
    height:1040px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.about img{
    max-height: 402px;
    max-width: 307px;
    float:right;
    margin-top: 60px;
    margin-right: 70px;
    outline: 15px solid #f5f3f4;
}
.aboutheader{
    color: #f4f4f4;
    font-family: 'Caveat', cursive;
    font-size: 2.7rem;
    float:left;
    margin-left: 75px;
    margin-top: 40px;
    max-width:320px;
}
.menuheader{
    color: #497183;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    float:left;
    margin-left: 170px;
    margin-top: 50px;
    max-width:320px;
}
.abouttext{
    color:#f4f4f4;
    margin-left:75px;
    margin-top:40px;
    float:left;
    max-width:300px;
    font-size:1rem;
}
.menupagetext{
    color:#497183;
    margin-left:75px;
    margin-top:40px;
    float:left;
    max-width:300px;
    font-size:1rem;
}
.actualmenu img{
    width:800px;
    float:left;
    
}
.menu img{
    max-height:150px;
    float:left;
    margin-top:30px;
    margin-left:140px
}
.table img{
    max-height:150px;
    float:left;
    margin-top:30px;
    margin-left:60px
}
.contact img{
    max-height:150px;
    float:left;
    margin-top:30px;
    margin-left:60px
}
.menutext{
    max-width:200px;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 125px;
    float:left;
    margin-top: 10px;
}
.tabletext{
    max-width:220px;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 90px;
    float:left;
    margin-top: 10px;
}
.contacttext{
    max-width:200px;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 100px;
    float:left;
    margin-top: 10px;
}
.menuborder{
    outline: 4px solid #497183;
    float:left;
    width:190px;
    margin-left: 130px;
    margin-top: 20px;
}
.seemenu{
    font-family: 'Caveat', cursive;
    color:#497183;
    font-size: 2.4rem;
    float:left;
    margin-left: 30px;
}
.bookborder{
    outline: 4px solid #497183;
    float:left;
    width:190px;
    margin-left: 110px;
    margin-top: 20px;
}
.bookatable{
    font-family: 'Caveat', cursive;
    color:#497183;
    font-size: 2.4rem;
    float:left;
    margin-left: 14px;
}
.contactborder{
    outline: 4px solid #497183;
    float:left;
    width:190px;
    margin-left: 120px;
    margin-top: 20px;
}
.contactus{
    font-family: 'Caveat', cursive;
    color:#497183;
    font-size: 2.4rem;
    float:left;
    margin-left: 20px;
}
.image1{
    max-height: 270px;
    float: left;
    margin-top:40px;
    margin-left:85px;
    outline:10px solid #e2b9b9
}
.footer{
    background-image:url(IMG_0487.png);
    height:80px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.copyright{
    color: #f4f4f4;
    font-size: 0.75rem;
    float:left;
    margin-left:80px;
    margin-top:35px;
    text-align: center;
}
/*sm devices*/
@media (min-width: 600px){
    body{
        
    }
    .aboutheader{
        max-width: 870px;
        font-size: 3rem;
        margin-left: 100px;
    }
    .menuheader{
        max-width: 870px;
        font-size: 3rem;
        margin-left: 260px;
    }
    .abouttext{
        max-width: 500px;
        font-size:1.1rem;
    }
    .menupagetext{
        max-width: 500px;
        font-size:1.1rem;
    }
    .logo img{
        max-width:230px;
        margin-left:0px;
    }
    .copyright{
        margin-left:220px;
    }
}
/*md*/
@media (min-width: 768px){
    body{
        
    }
    .aboutheader{
        max-width: 870px;
        font-size: 3.5rem;
        margin-left:150px;
    }
    .menuheader{
        max-width: 870px;
        font-size: 3.5rem;
        margin-left:350px;
    }
    .logo img{
        max-width:250px;
        margin-left:0px;
    }
    .abouttext{
        max-width: 700px;
        font-size:1.2rem;
    }
    .menupagetext{
        max-width: 700px;
        font-size:1.2rem;
    }
    .copyright{
        margin-left:300px;
    }
}
/*lg*/
@media (min-width: 992px){
    body{
        
    }
    .aboutheader{
        max-width: 870px; 
        margin-left: 250px;
        font-size: 3.7rem;
    }
    .menuheader{
        max-width: 870px; 
        margin-left: 400px;
        font-size: 4.5rem;
    }
    .abouttext{
        max-width: 850px;
        font-size:1.4rem;
    }
    .menupagetext{
        max-width: 850px;
        font-size:1.4rem;
    }
    .logo img{
        margin-left:0px;
        max-width:270px;
    }
    .copyright{
        margin-left:400px;
    }
}
/*xl*/
@media (min-width: 1200px){
    body{
        
    }
    .aboutheader{
        max-width: 870px
        margin-left: 250px;
    }
    .logo img{
        margin-left:0px;
    }
    .copyright{
        margin-left:400px;
    }
}
@media screen and (max-width: 600px) {
  .menubox {
    display: none;
  }
   
}