@import url('https://fonts.googleapis.com/css?family=Caveat|Quicksand');
body{
    background-color:#f4f4f4;
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
div{
    outline:1px solid grey;
}
.menubox{
    background-color: white;
    height:40px;
    width:550px;
    float:left;
    padding-top: 20px;
}
.hiddenmenu img{
    width:35px;
    margin-top:30px;
    float:left;
    margin-left: 30px;
}
.header{
    background-image:url(IMG_0487.png);
    color:#FFFFFF;
    height:150px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.header2{
    background-image:url(IMG_0487.png);
    color:#FFFFFF;
    height:620px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    background-color:white;
    max-width:1080px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo{
    float:left;
}
.logo img{
    float:left;
    max-width:180px;
    margin-left:80px;
    margin-top: 20px;
}
.link{
    margin-top: 40px;
    font-size: 1rem;
    margin-left: 40px;
    float: left;
    text-align: center;
}
.link a{
    color:#45676F;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
}
.link a:hover{
    color:#94C0C6;
}
.booknowbox{
    outline:4px solid #8D8D8D;
    height:20px;
    width:100px;
    float:right;
    margin-top: 0px;
    margin-right: 15px;
}
.seemenu a {
    color: #497183;
    text-decoration: none;
}
.seemenu a:hover{
    color: #94C0C6;
}
.bookatable a {
    color: #497183;
    text-decoration: none;
}
.bookatable a:hover{
    color: #94C0C6;
}
.contactus a {
    color: #497183;
    text-decoration: none;
}
.contactus a:hover{
    color: #94C0C6;
}
.backhometext a {
    color: white;
    text-decoration: none;
}
.backhometext a:hover{
    color: #94C0C6;
}
.about{
    height:650px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.about2{
    height:1200px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.aboutlocations{
    height:1500px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.aboutabout{
    height:1000px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.aboutcontact{
    height:1000px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.aboutbook{
    height:1250px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.aboutthanks{
    height:800px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}
.contactline{
    outline: 2px solid #497183;
    width:340px;
    margin-left: 50px;
    margin-top: 50px;
    float:left;
}
.backhomebox{
    float:left;
    height:40px;
    width:200px;
    background-color: #5C7A81;
    margin-top:50px;
    margin-left: 150px
}
.backhometext{
    float:left;
    text-align: center;
    font-size: 1.4rem;
    color:white;
    margin-left: 25px;
    margin-top: 6px;
}
.menu{
    width: 320px;
    float:left;
    margin-top: 50px;
    margin-left: 60px;
}
.aboutheader{
    color: #f4f4f4;
    font-family: 'Caveat', cursive;
    font-size: 2.7rem;
    float:left;
    margin-left: 75px;
    margin-top: 40px;
    max-width:320px;
}
.menuheader{
    color: #497183;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    float:left;
    margin-left: 170px;
    margin-top: 50px;
    max-width:320px;
}
.contactheader{
    color: #497183;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    margin-left: 130px;
    margin-top: 50px;
    max-width:320px;
}
.abouttext{
    color:#f4f4f4;
    margin-left:75px;
    margin-top:40px;
    float:left;
    max-width:300px;
    font-size:1rem;
}
.coffeecup{
    width: 350px;
    float:left;
    margin-left:50px;
    margin-top:30px;
}
.menupagetext{
    color:#497183;
    margin-left:75px;
    margin-top:40px;
    float:left;
    max-width:300px;
    font-size:1rem;
    text-align: center;
}
.contactpagetext{
    color:#497183;
    margin-top:20px;
    float:left;
    font-size:1.2rem;
    width:100%;
    text-align: center;
}
.contactpagetext2{
    color:#497183;
    margin-top:50px;
    float:left;
    font-size:1.5rem;
    width:100%;
    text-align: center;
}
.contactpagetext3{
    color:#67838A;
    float:left;
    font-size:1.2rem;
    width:100%;
    margin-left: 10px;
    margin-top:3px;
}
.submitbutton{
    float:left;
    width:150px;
    height:40px;
    background-color: #8D8D8D;
    margin-top: 30px;
    margin-left: 140px
}
.submittext{
    float:left;
    width:100%;
    height:40px;
    font-size:1.5rem;
    text-align: center;
    color:white;
    margin-top: 5px;
}
.booktablebutton{
    float:left;
    width:200px;
    height:40px;
    background-color: #8D8D8D;
    margin-top: 30px;
    margin-left: 120px
}
.submittext a {
    color: white;
    text-decoration: none;
}
.submittext a:hover{
    color: #94C0C6;
}
.thankstext1{
    color:#497183;
    margin-top:80px;
    float:left;
    font-size:1.2rem;
    width:100%;
    text-align: center;
}
.thankstext2{
    color:#497183;
    margin-top:50px;
    float:left;
    font-size:1.2rem;
    width:100%;
    text-align: center;
}
.plane img{
    width:200px;
    float:left;
    margin-top: 50px;
    margin-left:110px;
}
.locationheader{
    color: #497183;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    margin-top: 50px;
    width:100%;
}
.aboutpageheader{
    color: #497183;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    float:left;
    margin-left: 140px;
    margin-top: 50px;
    max-width:320px;
    text-align: center;
}
.locationtext{
    color:#497183;
    margin-left:75px;
    margin-top:40px;
    float:left;
    max-width:300px;
    font-size:1rem;
    text-align: center;
}
.aboutpagetext{
    color:#497183;
    margin-left:75px;
    margin-top:40px;
    float:left;
    max-width:300px;
    font-size:1rem;
    text-align: center;
}
.cutlery img{
    max-height:150px;
    float:left;
    margin-left:60px;
    margin-top:30px;
}
.table img{
    max-height:150px;
    float:left;
    margin-top:30px;
    margin-left:50px
}
.contact img{
    max-height:150px;
    float:left;
    margin-top:30px;
    margin-left:70px
}
.menutext{
    max-width:200px;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 50px;
    float:left;
    margin-top: 10px;
}
.tabletext{
    max-width:220px;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 35px;
    float:left;
    margin-top: 10px;
}
.contacttext{
    max-width:200px;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 50px;
    float:left;
    margin-top: 10px;
}
.menuborder{
    outline: 4px solid #497183;
    float:left;
    width:190px;
    margin-left: 55px;
    margin-top: 20px;
    max-width: 300px;
}
.seemenu{
    font-family: 'Caveat', cursive;
    color:#497183;
    font-size: 2.4rem;
    float:left;
    margin-left: 30px;
    max-width: 300px;
}
.box1{
    height:400px;
    width:250px;
    margin-left: 80px;
    float:left;
}
.box2{
    height:400px;
    width:260px;
    margin-left: 80px;
    float:left;
}
.box3{
    height:400px;
    width:250px;
    margin-left: 80px;
    float:left;
}
.bookborder{
    outline: 4px solid #497183;
    float:left;
    width:190px;
    margin-left: 55px;
    margin-top: 20px;
}
.bookatable{
    font-family: 'Caveat', cursive;
    color:#497183;
    font-size: 2.4rem;
    float:left;
    margin-left: 14px;
}
.phonebooking{
    color: #497183;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    width:100%;
}
.onlinebooking{
    color: #497183;
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    width:100%;
    float:left;
}
.contactborder{
    outline: 4px solid #497183;
    float:left;
    width:190px;
    margin-left: 55px;
    margin-top: 20px;
}
.contactus{
    font-family: 'Caveat', cursive;
    color:#497183;
    font-size: 2.4rem;
    float:left;
    margin-left: 20px;
}
.image1{
    max-height: 270px;
    float: left;
    margin-top:40px;
    margin-left:85px;
    outline:10px solid #e2b9b9
}
.footer{
    background-image:url(IMG_0487.png);
    height:80px;
    max-width:1020px;
    margin-left: auto;
    margin-right: auto;
}
.copyright{
    color: #f4f4f4;
    font-size: 0.75rem;
    float:left;
    margin-left:80px;
    margin-top:35px;
    text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
}
.textboxsmall{
    background-color:#E1E1E1;
    outline: 1px solid #A3A3A3;
    height: 30px;
    width: 350px;
    float:left;
    margin-top:20px;
    margin-left:50px;
}
.textboxcomment{
    background-color:#E1E1E1;
    outline: 1px solid #A3A3A3;
    height: 200px;
    width: 350px;
    float:left;
    margin-top:20px;
    margin-left:50px;
}
.form{
    height:200px;
    float:left;
    width:300px;
    margin-left: 50px;
}
.form2{
    height:350px;
    float:left;
    width:300px;
    margin-left: 50px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd}
.show {display:block;}

/*sm devices*/
@media (min-width: 600px){
    body{
        
    }
    .aboutheader{
        max-width: 870px;
        font-size: 3rem;
        margin-left: 100px;
    }
    .menuheader{
        max-width: 870px;
        font-size: 3rem;
        margin-left: 260px;
    }
    .locationheader{
        max-width: 870px;
        font-size: 3rem;
        margin-left: 160px;
    }
    .abouttext{
        max-width: 500px;
        font-size:1.1rem;
    }
    .menupagetext{
        max-width: 500px;
        font-size:1.1rem;
    }
    .locationtext{
        max-width: 500px;
        font-size:1.1rem;
        margin-left:40px;
    }
    .logo img{
        max-width:230px;
        margin-left:200px;
    }
    .copyright{
        margin-left:220px;
    }
    .hiddenmenu img{
        display:none;
    }
    .about2{
        height:1200px
    }
    
    .aboutlocations{
        height:750px
    }
    .aboutpagetext{
        font-size: 1.2rem;
        max-width:450px;
    }
    .aboutpageheader{
        font-size: 3rem;
        margin-left:220px;
    }
    .coffeecup{
        margin-left: 120px;
        width:350px;
    }
    .header{
        height:250px;
    }
    .link{
        font-size: 0.8rem;
    }
    .contactheader{
        font-size:3.5rem;
        margin-left:200px;
    }
    .contactline{
        width:600px;
        margin-top: 50px;
    }
    .menu{
        width:550px;
    }
    .about{
        height:750px
    }
    .thankstext1{
        font-size:1.3rem;
    }
    .thankstext2{
        font-size:1.3rem;
    }
    .plane img{
        width:250px;
        margin-left: 220px;
    }
    .backhometext{
        font-size: 1.5rem;
    }
    .backhomebox{
        margin-left:250px;
        width:210px;
        height:44px;
    }
    .box1{
        margin-left: 200px;
    }
    .box2{
        margin-left: 200px;
    }
    .box3{
        margin-left: 200px;
    }
    .contactpagetext3{
    font-size:1.3rem;
    margin-left: 10px;
    margin-top:6px;
    }
    .textboxsmall{
    height: 40px;
    width: 500px;
    margin-top:20px;
    margin-left:90px;
    }
    .textboxcomment{
    height: 220px;
    width: 500px;
    margin-top:20px;
    margin-left:90px;
    }
    .submitbutton{
    width:170px;
    height:50px;
    margin-top: 30px;
    margin-left: 250px
    }
    .submittext{
    width:100%;
    height:40px;
    font-size:1.6rem;
    margin-top: 8px;
    }
    .aboutcontact{
        height:1050px;
    }
    .aboutbook{
        height:1300px;
    }
    .booktablebutton{
    width:220px;
    height:50px;
    margin-top: 30px;
    margin-left: 220px
    }
    .form{
        width:500px;
        margin-left: 70px;
    }
    .form2{
        width:500px;
        margin-left: 70px;
    }
}
/*md*/
@media (min-width: 768px){
    body{
        
    }
    .aboutheader{
        max-width: 870px;
        font-size: 3.5rem;
        margin-left:150px;
    }
    .menuheader{
        max-width: 870px;
        font-size: 3.5rem;
        margin-left:350px;
    }
    .locationheader{
        max-width: 870px;
        font-size: 3.5rem;
        margin-left: 220px;
    }
    .logo img{
        max-width:250px;
        margin-left:260px;
    }
    .abouttext{
        max-width: 700px;
        font-size:1.2rem;
    }
    .menupagetext{
        max-width: 700px;
        font-size:1.2rem;
    }
    .locationtext{
        max-width: 500px;
        font-size:1.2rem;
        margin-left:100px;
    }
    .copyright{
        margin-left:300px;
    }
    .about2{
        height:400px
    }
    .menubox{
        width:700px;
        margin-left:40px;
        height:40px;
    }
    .cutlery img{
        max-height:100px;
        margin-left:100px;
        float:left;
    }
    .table img{
        max-height:100px;
        margin-left:80px;
    }
    .contact img{
        max-height:100px;
        margin-left:90px;
    }
    .aboutpagetext{
        font-size: 1.4rem;
        max-width:500px;
        margin-left:130px
    }
    .aboutpageheader{
        font-size: 3.2rem;
        margin-left:320px;
    }
    .coffeecup{
        margin-left: 200px;
        width:350px;
    }
    .aboutabout{
        height:1100px;
    }
    .link{
        font-size: 1rem;
    }
    .contactheader{
        font-size:3.6rem;
        margin-left:280px;
    }
    .booknowbox{
        height:30px;
    }
    .contactline{
        width:800px;
        margin-top: 50px;
    }
    .menu{
        width:700px;
        margin-left:70px;
    }
    .about{
        height:850px
    }
     .thankstext1{
        font-size:1.4rem;
    }
    .thankstext2{
        font-size:1.4rem;
    }
    .plane img{
        width:280px;
        margin-left: 260px;
    }
    .backhometext{
        font-size: 1.6rem;
    }
    .backhomebox{
        margin-left:300px;
        width:220px;
        height:45px;
    }
    .box1{
        margin-left:20px;
    }
    .box2{
        margin-left:20px;
    }
    .box3{
        margin-left:0px;
    }
    .contactpagetext3{
    font-size:1.4rem;
    margin-left: 10px;
    margin-top:12px;
    }
    .textboxsmall{
    height: 50px;
    width: 600px;
    margin-top:20px;
    margin-left:140px;
    }
    .textboxcomment{
    height: 250px;
    width: 600px;
    margin-top:20px;
    margin-left:140px;
    }
    .submitbutton{
    width:180px;
    height:50px;
    margin-top: 30px;
    margin-left: 350px
    }
    .submittext{
    width:100%;
    height:40px;
    font-size:1.8rem;
    margin-top: 6px;
    }
    .aboutcontact{
        height:1050px;
    }
    .booktablebutton{
    width:240px;
    height:50px;
    margin-top: 30px;
    margin-left: 300px
    }
    .aboutbook{
        height:1300px;
    }
    .form{
        width:650px;
        margin-left: 100px;
    }
    .form2{
        width:650px;
        margin-left: 100px;
    }
}
/*lg*/
@media (min-width: 992px){
    body{
        
    }
    .logo img{
        margin-left:340px;
    }
    .aboutheader{
        max-width: 870px; 
        margin-left: 250px;
        font-size: 3.7rem;
    }
    .menuheader{
        max-width: 870px; 
        margin-left: 400px;
        font-size: 4.5rem;
    }
    .locationheader{
        max-width: 870px;
        font-size: 4.5rem;
        margin-left: 260px;
    }
    .abouttext{
        max-width: 850px;
        font-size:1.4rem;
    }
    .menupagetext{
        max-width: 850px;
        font-size:1.4rem;
    }
    .locationtext{
        max-width: 400px;
        font-size:1.4rem;
        margin-left:80px;
    }
    .cutlery img{
        margin-left:340px;
        max-width:270px;
    }
    .copyright{
        margin-left:400px;
    }
    .about2{
        height:400px
    }
    .menubox{
        width:800px;
        margin-left:60px
    }
    .cutlery img{
        max-height:150px;
        margin-left:60px
    }
    .table img{
        max-height:150px;
        margin-left:50px;
    }
    .contact img{
        max-height:150px;
        margin-left:70px;
    }
    .link a{
        margin-left:30px;
        margin-right: 20px;
    }
    .aboutpagetext{
        font-size: 1.4rem;
        max-width:380px;
        margin-left: 50px;
    }
    .aboutpageheader{
        font-size: 4rem;
        margin-left:380px;
    }
    .coffeecup{
        margin-left: 120px;
        width:380px;
    }
    .aboutabout{
        height:700px;
    }
    .link{
        font-size: 1rem;
    }
    .booknowbox{
        width:130px;
    }
    .contactheader{
        font-size:4rem;
        margin-left:350px;
    }
    .header{
        height:280px;
    }
    .contactline{
        width:920px;
        margin-top: 50px;
    }
    .menu{
        width:850px;
    }
    .about{
        height:1000px
    }
     .thankstext1{
        font-size:1.5rem;
    }
    .thankstext2{
        font-size:1.5rem;
    }
    .plane img{
        width:300px;
        margin-left: 350px;
    }
    .aboutthanks{
        height:900px;
    }
    .backhometext{
        font-size: 1.8rem;
    }
    .backhomebox{
        margin-left:380px;
        width:240px;
        height:48px;
    }
    .box1{
        margin-left:50px;
    }
    .box2{
        margin-left:70px;
    }
    .box3{
        margin-left:50px;
    }
        .contactpagetext3{
    font-size:1.4rem;
    margin-left: 10px;
    margin-top:12px;
    }
    .textboxsmall{
    height: 50px;
    width: 600px;
    margin-top:20px;
    margin-left:200px;
    }
    .textboxcomment{
    height: 250px;
    width: 600px;
    margin-top:20px;
    margin-left:200px;
    }
    .submitbutton{
    width:180px;
    height:50px;
    margin-top: 30px;
    margin-left: 400px
    }
    .submittext{
    width:100%;
    height:40px;
    font-size:1.8rem;
    margin-top: 6px;
    }
    .aboutcontact{
        height:1050px;
    }
     .booktablebutton{
    width:250px;
    height:50px;
    margin-top: 30px;
    margin-left: 370px
    }
    .form{
        width:700px;
        margin-left: 130px;
    }
    .form2{
        width:700px;
        margin-left: 130px;
    }
}
/*xl*/
@media (min-width: 1200px){
    body{
        
    }
    .aboutheader{
        max-width: 870px
        margin-left: 250px;
    }
    .logo img{
        margin-left:340px;
    }
    .copyright{
        margin-left:400px;
    }
    .link{
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px) {
  .menubox {
    display: none;
  }
   
}