div{
    outline:1px solid black
}
.container{
    width:920px;
    margin-left: auto;
    margin-right: auto;
}
.headerblue{
    background-color:blue;
    width:920px;
    height:100px;
    float:left;
}
.yellowheader1{
    background-color:yellow;
    width:300px;
    height:60px;
    margin-left: 20px;
    margin-top: 20px;
    float:left;
}
.yellowheader2{
    background-color:yellow;
    width:560px;
    height:60px;
    margin-left: 20px;
    margin-top: 20px;
    float:left;
}
.greencontent1{
    background-color:green;
    width:920px;
    height:500px;
    float:left;
}
.redcontent1{
    background-color:red;
    width:920px;
    height:400px;
    float:left;
}
.bluecontent{
    background-color:blue;
    width:920px;
    height:702px;
    float:left;
}
.greencontent2{
    background-color:green;
    width:920px;
    height:600px;
    float:left;
}
.redcontent2{
    background-color:red;
    height:500px;
    width:920px;
    float:left;
}
.header1{
    background-color:yellow;
    width:880px;
    height:100px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}
.content1{
    background-color:yellow;
    width:280px;
    height:240px;
    float:left;
    margin-left:20px;
    margin-top:20px;
}
.header2{
    background-color:yellow;
    width:880px;
    height:80px;
    float:left;
    margin-left:20px;
    margin-top:20px;
}
.content2{
    background-color:yellow;
    width:205px;
    height:174px;
    float:left;
    margin-left:20px;
    margin-top:20px;
}
.content3{
    background-color:yellow;
    width:280px;
    height:440px;
    float:left;
    margin-left:20px;
    margin-top:20px;
}
.content4{
    background-color:yellow;
    width:580px;
    height:360px;
    float:left;
    margin-left: 20px;
    margin-top: 20px;
}
.content5{
    background-color:yellow;
    width:280px;
    height:260px;
    float:left;
    margin-left: 20px;
    margin-top: 20px;
}